<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!--<title><%= title %></title>-->
    <!--<link rel='stylesheet' href='/stylesheets/style.css' />-->
    <!--<link rel='stylesheet' href='/stylesheets/bootstrap.css' />-->


    <!--&lt;!&ndash; Loading Flat UI &ndash;&gt;-->
    <!--<link href="/css/flat-ui.min.css" rel="stylesheet">-->
    <!--<link href="/css/vendor/bootstrap.min.css" rel="stylesheet">-->
    <!--<link rel="shortcut icon" href="img/favicon.ico">-->
</head>
<body>
<>
    <div id='example' style="width: 1024px; height:768px ;" class="img-rounded img-responsive"></div>

    <form>
    <input type="button" onclick="refreshFace()" value="Slowly Press Me Two Times ">

    </form>
    
    <div id="main" style="height:400px"></div>

    <pre id="response">Loading...</pre>
</div>


<!--<pre id="response">Loading...</pre>-->
<!--script src="https://cdn1.lncld.net/static/js/av-mini-0.5.4.js"></script-->
<!--<script type="text/javascript" src="/javascripts/av-mini-0.5.4.js"></script>-->
<script type="text/javascript" src="/javascripts/av-mini-0.5.4.js"></script>
<script type="text/javascript" src="/javascripts/moment.min.js"></script>
<script type="text/javascript" src="/javascripts/jquery.min.js"></script>

<script type="text/javascript" src="/javascripts/facepp-sdk.min.js"></script>
<!--<script type="text/javascript" src="/javascripts/Drag.js"></script>-->
<!--<script type="text/javascript" src="/javascripts/Tools.js"></script>-->
<!--<script type="text/javascript" src="/javascripts/ResizeHandle.js"></script>-->
<!--<script type="text/javascript" src="/javascripts/Slider.js"></script>-->
<script type="text/javascript" src="/javascripts/photobooth_min.js"></script>
<script type="text/javascript" src="/javascripts/base64.js"></script>
<script src="http://echarts.baidu.com/build/dist/echarts-all.js"></script>

<!-- Include all compiled plugins (below), or include individual files as needed -->
<script src="/js/vendor/video.js"></script>
<script src="/js/flat-ui.min.js"></script>
<script type="text/javascript">
    AV.initialize("leh7mku3epwp8usqm25d0zms6unt15jglypffie1g887zrgg", "7he55r1ehtkxzc7xjisepd1flygwd5bqvwbpy4oyrquwmax2");
    container = document.getElementById( "example" );
    myPhotobooth = new Photobooth( container );

    // Initialize Phaser, and creates a 400x490px game


    var refreshFace = function() {
        console.log(123)
        $('.trigger').click()
        myPhotobooth.onImage = function( dataUrl ) {
            var dataString = dataUrl.split(",")[1];
            var extension = dataUrl.match(/\/(.*)\;/)[1];
            var avFile = new AV.File("image." + extension, {base64: dataString});

            avFile.save().then(function () {
                imgUrl = avFile.url()
                console.log(imgUrl)
                var api = new FacePP('03185d23e0c06c266049f9c6c024dd6a', 'tkDEWxFl7jl9v0ky6g3m2OtGn5KFG0Az');
                api.request('detection/detect', {
                    url: imgUrl
                }, function (err, result) {
                    if (err) {
                        // TODO handle error
                    }
                    // TODO use result
                    document.getElementById('response').innerHTML = JSON.stringify(result);
                    if(result.face.length ==0){

                    }
                    else{
                        smilingValue = result.face[0].attribute.smiling.value
                        Smiling  = new AV.Object.extend("SmilingValue")
                        smiling = Smiling()
                        smiling.set('value',smilingValue)
                        smiling.set('url',imgUrl)
                        smiling.save()

                    }

                    t=setTimeout("refreshFace()",500)
                });
            }, function (error) {
                // The file either could not be read, or could not be saved to AV.
            });
        }

    }
    refreshFace()

</script>
</body>
</html>
