<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
   
   
  </head>
  

  <body>
  <div id='example' style="width: 470px; height: 300px;"></div>
  <div style="width: 470px; height: 30px;"><form>
          <input type="button" onclick="facepp()">

      </form>
  </div>


    <pre id="response">Loading...</pre>
  <!--script src="https://cdn1.lncld.net/static/js/av-mini-0.5.4.js"></script-->
  <script type="text/javascript" src="/javascripts/av-mini-0.5.4.js"></script>
    <script type="text/javascript" src="/javascripts/jquery.min.js"></script>
    <script type="text/javascript" src="/javascripts/facepp-sdk.min.js"></script>
    <script type="text/javascript" src="/javascripts/photobooth_min.js"></script>
  <script type="text/javascript" src="/javascripts/base64.js"></script>
    <script type="text/javascript">
//     var imgUrl=''
     var  buffer
AV.initialize("0wuecmgwc7sg9r1np1eux3yya7lq4k7qenlpmp0qnmsnx3jm", "e65f7h0t6atg0vx1sv2pzpfz671s9ldy0r44w2ig2dgc7ir1");
     container = document.getElementById( "example" );
//gallery = document.getElementById( "gallery" );

myPhotobooth = new Photobooth( container );



     i =985;
     var imgUrl ='http://7ktrro.com1.z0.glb.clouddn.com/uniquehackdaythumb_IMG_0'+i+'_1024.jpg'

//    function initapp(){
//        $('.trigger').click()
//        myPhotobooth.onImage = function( dataUrl ){
//
//            var dataString = dataUrl.split( "," )[ 1 ];
//            var extension = dataUrl.match(/\/(.*)\;/)[ 1 ];
//            var avFile = new AV.File("image."+extension, { base64: dataString });
//            avFile.save().then(function() {
//                imgUrl = avFile.url()
//                console.log(imgUrl)
//                console.log('1')
//            }, function(error) {
//                // The file either could not be read, or could not be saved to AV.
//            });
//
//
//        };
//    }

var facepp = function() {

          $('.trigger').click()
          myPhotobooth.onImage = function( dataUrl ) {
              var dataString = dataUrl.split(",")[1];
              var extension = dataUrl.match(/\/(.*)\;/)[1];
              var avFile = new AV.File("image." + extension, {base64: dataString});
              console.log("test")
              avFile.save().then(function () {
                  imgUrl = avFile.url()
                  console.log(imgUrl)
                  console.log('2')
                  var api = new FacePP('03185d23e0c06c266049f9c6c024dd6a', 'tkDEWxFl7jl9v0ky6g3m2OtGn5KFG0Az');
                  api.request('detection/detect', {
                      url: imgUrl
                  }, function (err, result) {
                      if (err) {
                          // TODO handle error
//            return;

                      }
                      // TODO use result
                      document.getElementById('response').innerHTML = JSON.stringify(result, null, 2);
                      t=setTimeout("facepp()",1000)
                  });
              }, function (error) {
                  // The file either could not be read, or could not be saved to AV.
              });

//              imgUrl = dataString

          }

//    if (i>999){
//
//        i =985
//    }

//        t=setTimeout("facepp()",1000)
        i++;

      }
//     initapp()
//setInterval(facepp,2000);
//        facepp()
    </script>
  </body>
</html>
